
@{
    ViewData["Title"] = "Viewer";
}

<div class="row">
    <div class="col col-sm-12">
        <div class="card">
            <div class="card-header">
                Viewer Role User
            </div>
            <div class="card-body">
                <h5 class="card-title">Viewer</h5>
                <p class="card-text">Yahoo! Thanks visiting me.</p>
            </div>
        </div>
    </div>
</div>

